<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOBRE NOSOTROS - TakeProfit Finanzas</title>
    <meta name="description" content="Aprende trading como un profesional">
    <meta name="keywords" content="TRADING, CRIPTO, CRIPTOMONEDAS, BROKER, BINANCE, INDICADORES, FIBONACCI, ICHIMOKU">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="../index.html">TakeProfit</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="courses.html">CURSOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SOBRE NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">CONTACTO</a>
            </li>
          </ul>
          <button class="btn btn-success text-light" type="submit">
            <a href="members.html">AREA DE MIEMBROS/LOGIN</a>
          </button>
        </div>
      </nav>

        <!---2º SECCION--->
        <section class="section_2 py-5">
          <div class="row align-items-center container my-5 mx-auto">
            <div class="img col-lg-6 col-md-6 col-12 w-50 pb-50">
              <img class="img-fluid" src="../img/teaching.svg" />
            </div>
            <div class="text col-lg-6 col-md-6 col-12 w-50 pb-50">
              <h6>TE ESTARAS PREGUNTANDO ¿QUE HACEMOS?</h6>
              <h2>HACEMOS QUE GANES DINERO!</h2>
              <p>
               Somos la unión entre la formación teórica y práctica. En TakeProfit buscamos ofrecer la mejor formación teórica para dotar a nuestros estudiantes del conocimiento y las herramientas necesarias que les permitan enfrentarse a los mercados financieros y puedan aprender a invertir en bolsa por sí mismos. Por ello, rompemos la barrera de las lecciones teóricas e incorporamos entre nuestras filas a selectos traders profesionales que mostrarán cómo aplican nuestras enseñanzas en sus propias cuentas reales y en tiempo real. Ofrecemos cursos de trading online para todos los niveles: Trading para principiantes, trading profesional y señales de trading.
              </p>
            </div>
          </div>
        </section>

    <!---1º SECCION--->
    <section class="section_1 py-5">
      <div class="row align-items-center container my-5 mx-auto">
        <div class="text col-lg-6 col-md-6 col-12 w-50 pb-50">
          <h6>EDUCACION FINANCIERA?</h6>
          <h2>¿PORQUE ES IMPORTANTE LA EDUCACION FINANCIERA?</h2>
          <p>
            Durante muchos años hemos vivido en una sociedad donde las pensiones estaban garantizadas. Hoy, debido al cambio social y demográfico, no podemos contar con ello. La educación financiera es fundamental para poder mantener el poder adquisitivo de nuestros ahorros, así como para generar una fuente alternativa de ingresos y poder aumentar el valor de nuestra cartera de cara al futuro.
          </p>
        </div>
        <div class="img col-lg-6 col-md-6 col-12 w-50 pb-50">
          <img class="img-fluid" src="../img/creative_experiment.svg" />
        </div>
      </div>
    </section>

         <!---2º SECCION--->
         <section class="section_2 py-5">
          <div class="row align-items-center container my-5 mx-auto">
            <div class="img col-lg-6 col-md-6 col-12 w-50 pb-50">
              <img class="img-fluid" src="../img/science.svg" />
            </div>
            <div class="text col-lg-6 col-md-6 col-12 w-50 pb-50">
              <h6>VIVIMOS PARA ESTO</h6>
              <h2>NUESTRA VISION.</h2>
              <p>
                Nuestra responsabilidad de es mejorar continuamente nuestra asesoría/consultoría, cursos, seminarios y nuestra atención al cliente, la cual creemos firmemente es la piedra angular de toda empresa que realmente busca ofrecer plena satisfacción a sus clientes. Nuestra visión es poner en marcha iniciativas que beneficien a la sociedad inversionista y comprometernos a crear valor agregado para el trader, ya sea profesional o no, convirtiendo TakeProfit en una empresa verdaderamente innovativa. En TakeProfit encontrará todo lo que necesita para alcanzar consistencia en sus inversiones e incrementar sus finanzas personales.
              </p>
            </div>
          </div>
        </section>

        <section class="section_1 py-5">
          <div class="row align-items-center container my-5 mx-auto">
            <div class="text col-lg-6 col-md-6 col-12 w-50 pb-50">
              <h6>SOMOS CIENTIFICOS.</h6>
              <h2>FORMAMOS ALIENS DEL MERCADO.</h2>
              <p>
                Nos respaldan ingenieros, fisicos, matematicos y programadores de la mas alta categoria. Si elegis formarte con nosotros no solo estaras aprendiendo trading, te formaras con el verdadero nivel de detalle que solo los expertos pueden proveerte. Aplicando estrategias quantitativas, en serio.
              </p>
              <a href="#">Aprende mas!</a>
            </div>
            <div class="img col-lg-6 col-md-6 col-12 w-50 pb-50">
              <img class="img-fluid" src="../img/alien_science.svg" />
            </div>
          </div>
        </section>

    <!---FOOTER--->
    <footer class="footer text-white">
      <div class="container">
        <nav class="row">
          <!---LOGO--->
          <a
            href="#"
            class="col-3 text-reset text-uppercase d-flex align-items-center"
          >
            <i class="fas fa-comment-dollar img-logo mr-2"></i>
            <div class="footer-logo">TakeProfit</div>
          </a>
          <!---MENU--->
          <ul class="col-3 list-unstyled mt-3">
            <li class="font-weight-bold text-uppercase">RECURSOS</li>
            <a href="#" class="text-reset"><li>Trabaja con nosotros</li></a>
            <a href="#" class="text-reset"><li>Terminos y condiciones</li></a>
            <a href="#" class="text-reset"><li>Avisos Legales</li></a>
          </ul>
          <!---MENU--->
          <ul class="col-3 list-unstyled mt-3">
            <li class="font-weight-bold text-uppercase">HERRAMIENTAS</li>
            <a href="#" class="text-reset"><li>Contacto</li></a>
            <a href="#" class="text-reset"><li>Agenda una entrevista</li></a>
            <a href="#" class="text-reset"><li>Mapa del sitio</li></a>
          </ul>
          <!---SOCIAL NETWORKS--->
          <ul class="col-3 list-unstyled mt-3">
            <li class="font-weight-bold text-uppercase">REDES SOCIALES</li>
            <li class="d-flex justify-content-between mt-3">
              <!---FB--->
              <a href="#" class="text-reset"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <!---TWITTER--->
              <a href="#" class="text-reset"><i class="fab fa-twitter"></i></a>
              <!---INSTAGRAM--->
              <a href="#" class="text-reset"
                ><i class="fab fa-instagram"></i
              ></a>
              <!---LINKEDIN--->
              <a href="#" class="text-reset"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>

    <!---<i class="fas fa-comment-dollar"></i>--->
    <script
      src="https://kit.fontawesome.com/8c43030740.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
