<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIEMBROS - TakeProfit Finanzas</title>
    <meta name="description" content="Aprende trading como un profesional">
    <meta name="keywords" content="TRADING, CRIPTO, CRIPTOMONEDAS, BROKER, BINANCE, INDICADORES, FIBONACCI, ICHIMOKU">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="../index.html">TakeProfit</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="courses.html">CURSOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">SOBRE NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">CONTACTO</a>
            </li>
          </ul>
          <button class="btn btn-success text-light" type="submit">
            <a href="views/members.html">AREA DE MIEMBROS/LOGIN</a>
          </button>
        </div>
      </nav>

<!---INICIO VIDEO--->
      <div class="mid">
        <video autoplay muted loop>
          <source
            class="embed-responsive"
            src="../img/MARKETBACKGROUND2.mp4"
            type="video/mp4"
          />
        </video>
        <div class="hero text-center">
          <h2 class="text-light display-2 font-weight-bold">
            ¡REGISTRATE Y CAMBIA TU VIDA!
          </h2>
          <p class="text-light mx-auto font-weight-bold">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit esse unde sunt, cupiditate dicta tempora itaque repudiandae iusto asperiores sequi deleniti enim ut vero cum qui magnam harum nulla quisquam.
          </p>
          <button type="button" class="btn btn-info">
            ¡REGISTRATE!
          </button>
        </div>
      </div>
    </header>
<!---FIN VIDEO--->
    <!---FOOTER--->
    <footer class="footer text-white">
      <div class="container">
        <nav class="row">
          <!---LOGO--->
          <a
            href="#"
            class="col-3 text-reset text-uppercase d-flex align-items-center"
          >
            <i class="fas fa-comment-dollar img-logo mr-2"></i>
            <div class="footer-logo">TakeProfit</div>
          </a>
          <!---MENU--->
          <ul class="col-3 list-unstyled mt-3">
            <li class="font-weight-bold text-uppercase">RECURSOS</li>
            <a href="#" class="text-reset"><li>Trabaja con nosotros</li></a>
            <a href="#" class="text-reset"><li>Terminos y condiciones</li></a>
            <a href="#" class="text-reset"><li>Avisos Legales</li></a>
          </ul>
          <!---MENU--->
          <ul class="col-3 list-unstyled mt-3">
            <li class="font-weight-bold text-uppercase">HERRAMIENTAS</li>
            <a href="#" class="text-reset"><li>Contacto</li></a>
            <a href="#" class="text-reset"><li>Agenda una entrevista</li></a>
            <a href="#" class="text-reset"><li>Mapa del sitio</li></a>
          </ul>
          <!---SOCIAL NETWORKS--->
          <ul class="col-3 list-unstyled mt-3">
            <li class="font-weight-bold text-uppercase">REDES SOCIALES</li>
            <li class="d-flex justify-content-between mt-3">
              <!---FB--->
              <a href="#" class="text-reset"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <!---TWITTER--->
              <a href="#" class="text-reset"><i class="fab fa-twitter"></i></a>
              <!---INSTAGRAM--->
              <a href="#" class="text-reset"
                ><i class="fab fa-instagram"></i
              ></a>
              <!---LINKEDIN--->
              <a href="#" class="text-reset"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>

    <!---<i class="fas fa-comment-dollar"></i>--->
    <script
      src="https://kit.fontawesome.com/8c43030740.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>
</html>