* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.row {
	--bs-gutter-x: 0rem;
}

.navbar {
	background-color: #000000;
	padding: 1rem 8rem;
	z-index: 10;

	.navbar-brand {
		font-size: 1.4rem;
		font-weight: 800;
	}
}

body {
	>header {
		>nav {
			>a {
				&:hover {
					color: #00aaff;
				}
			}
		}
	}
}

#navbarSupportedContent {
	>ul {
		>li {
			&:nth-child(n) {
				>a {
					color: #fff;
					font-size: 1.1rem;
					padding: 0 0.8rem;

					&:hover {
						color: #00aaff;
					}
				}
			}
		}
	}

	>button {
		background: #00aaff;
		font-weight: 600;
		padding: 0.4rem 1.4rem;
		border-radius: 30px;
		text-decoration: none;
	}
}

.mid {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;

	video {
		width: 100%;
		height: 100%;
		pointer-events: none;
		object-fit: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.hero {
		position: relative;

		p {
			width: 60%;
			font-size: 1.1rem;
			letter-spacing: 0.2px;
			padding-bottom: 1.1rem;
		}
	}
}

.section_1 {
	background-color: #000000;

	.text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: auto;

		h6 {
			color: #00aaff;
			font-weight: 800;
			font-size: 1rem;
			letter-spacing: 2px;
		}

		h2 {
			color: #fff;
			font-weight: 800;
			font-size: 1rem;
			font-size: 2.7rem;
		}

		p {
			color: #fff;
			font-weight: 800;
			font-size: 1rem;
			font-size: 1.1rem;
			letter-spacing: 0.1px;
		}

		a {
			background: #00aaff;
			font-weight: 600;
			padding: 0.4rem 1.4rem;
			border-radius: 30px;
			color: #fff;
		}
	}
}

.section_2 {
	background-color: #fff;

	.text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: auto;

		h6 {
			color: #00aaff;
			font-weight: 800;
			font-size: 1rem;
			letter-spacing: 2px;
		}

		h2 {
			color: #000000;
			font-weight: 800;
			font-size: 1rem;
			font-size: 2.7rem;
		}

		p {
			color: #000000;
			font-weight: 800;
			font-size: 1rem;
			font-size: 1.1rem;
			letter-spacing: 0.1px;
		}

		a {
			background: #000;
			font-weight: 500;
			padding: 0.4rem 1.4rem;
			border-radius: 30px;
			color: #fff;
		}
	}
}

.section_3 {
	background: #000000;

	.box {
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 2rem 1.5rem;
		border-radius: 10px;

		a {
			background: #00aaff;
			font-weight: 600;
			padding: 0.4rem 1.4rem;
			border-radius: 30px;
			color: #fff;
		}
	}
}

.section_4 {
	background-color: #fff;

	.text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: auto;

		h6 {
			color: #00aaff;
			font-weight: 800;
			font-size: 1rem;
			letter-spacing: 2px;
		}

		h2 {
			color: #000000;
			font-weight: 800;
			font-size: 1rem;
			font-size: 2.7rem;
		}

		p {
			color: #000000;
			font-weight: 800;
			font-size: 1rem;
			font-size: 1.1rem;
			letter-spacing: 0.1px;
		}

		a {
			background: #000;
			font-weight: 500;
			padding: 0.4rem 1.4rem;
			border-radius: 30px;
			color: #fff;
		}
	}
}

.carousel-caption {
	bottom: 3rem;
	z-index: 1;
}

.carousel-item {
	height: 32rem;

	>img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 32rem;
	}
}

.info_cursos {
	text-align: left;
}

.head {
	background: url(../../img/stocks-market.jpg)no-repeat;
	background-size: 100% 100%;
	width: 100%;
}

.footer {
	background-color: #000000;
}